@model IEnumerable<ToDoList.Models.ZadaniaModelcs>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zadań</h1>

<p>
    <a asp-action="Create">Dodaj zadanie</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            
            <td>
                @Html.ActionLink("Wykonane", "Done", new { id=item.ZadaniaId }) |
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ZadaniaId }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.ZadaniaId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ZadaniaId })
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="TasksPerformed">Pokaż wykonane</a>
</p>
